.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.BottomNav{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 55px;
}

.appbar-logo{
  height: 50px;
  width: auto;
  vertical-align: middle;
  display: inline;
}

.show-more-text{
  margin: 15px;
}

.body-content{
  padding-bottom: 80px;
}
.snackbar{
}
